@using PagedList;
@using PagedList.Mvc;
@model IPagedList<SENLStokTakip.Models.Satislar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Satış Listesi</h2>

<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ürün Ad</th>
            <th>Adet</th>
            <th>Birim Fiyat</th>
            <th>Toplam Fiyat</th>
            <th>Resim</th>
            <th>Tarih</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Urun.Ad</td>
                <td>@item.Adet</td>
                <td>@item.Urun.Fiyat ₺</td>

                <td>@item.Fiyat ₺</td>
                <td><img src="~/Content/Image/@item.Urun.Resim" width="90" height="90" /></td>
                <td>@Convert.ToDateTime(item.Tarih).ToString("dd/MM/yyyy")</td>
            </tr>

        }
    </tbody>
</table>

@Html.PagedListPager(Model, sayfa => Url.Action("Index", new { sayfa }), PagedListRenderOptions.Classic)

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $("#tbl1").DataTable();
</script>